.site-footer {
  background-color: #003a84;
  color: #fff;
  /* padding: 2.5rem 1rem 4rem; */
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  /* margin-bottom: 0%; */
}

.footer-container {
  /* max-width: 100%; */
  margin: 0 auto;
}

.footer-logo {
  width: 100px;
  margin-bottom: 1rem;
}

.footer-address {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.footer-contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

.contact-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-link:hover {
  color: #222;
}

.divider {
  font-weight: bold;
  color: #fff;
}

.follow-us {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.icon-border {
  color: #fff;
  font-size: 1.3rem;
  border: 2px solid #fff;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-border:hover {
  background-color: #fff;
  color: #003a84;
  transform: scale(1.2);
}

@media (max-width: 576px) {
  .footer-logo {
    width: 120px;
  }

  .footer-contact {
    flex-direction: row;
    gap: 0.6rem;
  }

  .social-icons {
    gap: 0.7rem;
  }

  .icon-border {
    font-size: 1.1rem;
    padding: 6px;
  }
}
.rede {
  font-size: 32px;
  margin-left: 5px;
  position: relative;
  top: 8px;
  font-weight: bold;
  color:#fff ;
}